.namePlayer {
   width:120px;
   height:auto;
   margin-left: auto;
   margin-right: auto;
}

.otherPlayerCards {
   width:auto;
   height:300px;
}

.otherPlayerCards3 {
   width:285px;
   height:150px;
   margin-left: auto;
   margin-right: auto;   
}